h1{
    color: darkgreen
    font-family: sans-serif;
}
p{
    color: coral;
    font-family: fantasy;
}
ul{
    list-style-image: url('Zoom/icons8-cursor-30.png');
}
ol{
    list-style-type: upper-roman;
}
#menu-bar a{
    font-family: Helvetica; sans-serif;
    padding: 5px;
   text-decoration: none; 
    background-color: aquamarine;
}

#menu-bar a:hover{
    background-color: black;
    color: #ffffff;
}
table{
    font-family: Helvetica; sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #2695A6;
}
th{
    font-weight: 800;
    background-color: #2695A6;
    color: #ffffff;
}